/* 
  ---GENERAL
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
/* ----------------------------- */

.container{
  width: 75%;
  margin: 0 auto;
}

header.container{
  height: 75px;
  margin-bottom: 20px;
  background-color: #e579e6;
}

section{
  margin: 20px auto;
  height: 280px;
  background-color: #e1d67a;
}

main.container{
  margin: 20px auto 10px;
  background-color: #0086ff;
}

.box-color{
  background-color: #abcfe7;
}

.head-main{
  height: 60px;
  margin-bottom: 2%;
}

aside{
  height: 400px;
  width: 20%;
}

.col-sx{
  float: left;
}

.col-dx{
  float: right;
}

.col-center{
  float: left;
  margin: auto 1.5%;
  height: 400px;
  width: 57%;
  margin-bottom: 2%;
}

footer.container{
  height: 40px;
  margin: 10px auto;
  background-color: #8701ff;
}