/* 
  ---GENERAL
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
/* ----------------------------- */

.container{
  width: 75%;
  float: center;
  margin: auto;
}

header{
  height: 75px;
  margin-bottom: 50px;
  background-color: #e579e6;
}

section{
  margin: 20px auto;
  height: 400px;
  background-color: #e1d67a;
}

main{
  height: 475px;
  background-color: #0086ff;
}

.box-color{
  background-color: #abcfe7;
}

.head-main{
  height: 60px;
  margin-bottom: 2%;
}

aside{
  height: 78%;
  width: 20%;
}

.col-sx{
  float: left;
}

.col-dx{
  float: right;
}

.col-center{
  float: center;
  margin: auto 1%;
  width: 68%;
}

footer{
  float: center;
  height: 40px;
  margin: 10px auto;
  background-color: #8701ff;
}